<% layout("/layouts/boilerplate") %>

<div class="row">
    <h2 class="col-6 offset-4 mt-2 text-success">Login</h2>      
    <div class="col-6 offset-3">
        <form action="/login" class="needs-validation" method="post" novalidate>
                <!-- <br /><br /> -->
                <div class="mb-4"> 
                    <label for="username" class="form-label">Email</label>
                    <input id="username" type="text" class="form-control" name="username" required placeholder="username" />
                    <div class="invalid-feedback">
                        username field required!
                    </div>
                </div>
                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="password" id="password" name="password" class="form-control" required>
                        <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                            <i class="bi bi-eye"></i>
                        </button>
                        <div class="invalid-feedback">
                            Password field required!
                        </div>  
                    </div>  
                </div>
                
                <div class="mb-4 add-btn2">
                    <button class="btn btn-success mt-2">Login</button>
                </div>
        </form>
    </div>
</div>